<div class="container">
  <div class="row" style="margin:20px">
    <div class="col-md-6">
      <div *ngIf="category">
        <h4>Editar categoria {{category.name}}</h4>
      </div>
      <div *ngIf="!category">
        <h4>Editar categoria</h4>
      </div>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-1">
      <button class="btn btn-light" (click)="goBack()">Voltar</button>
    </div>
  </div>
</div>

<div *ngIf="model" style="padding-bottom:20px;">

  <form #categoryForm="ngForm" (ngSubmit)="updateCategory(categoryForm)">

  <div class="form-group">
    <label for="name">Nome</label>
    <input type="text" minlength="4" maxlength="255" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="Nome">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Informe um nome
        </div>
        <div *ngIf="name.errors.minlength">
          Nome deve conter no mínimo 4 caravteres
        </div>
        <div *ngIf="name.errors.maxlength">
          nome deve ter no máximo 255 caracteres
        </div>
      </div>
  </div>

  <div class="form-group">
    <label for="name">Descrição</label>
    <textarea minlength="14" maxlength="1000" type="text" class="form-control" id="description" required [(ngModel)]="model.description" name="description" description="ngModel" placeholder="CPF" #description="ngModel">
    </textarea>
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
        <div *ngIf="description.errors.required">
          Informe uma descrição
        </div>
        <div *ngIf="description.errors.minlength">
          Descrição deve conter 14 caracteres
        </div>
        <div *ngIf="description.errors.maxlength">
          Descrição deve ter no 1000 caracteres
        </div>
      </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!categoryForm.form.valid">Salvar</button>
  <button type="button" (click)="cancel()" class="btn light">Cancelar</button>
</form>

</div>
