<div *ngIf="loading">
  <h2>LOADING...</h2>
</div>

<app-messages></app-messages>

<div *ngIf="users">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data de nascimento</th>
        <th>perfil</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">


        <td *ngIf="selectedUserId!=user.id">{{user.name}}</td>
        <td *ngIf="selectedUserId!=user.id">{{user.cpf | cpfPipe}}</td>
        <td *ngIf="selectedUserId!=user.id">{{user.birth_date}}</td>
        <td *ngIf="selectedUserId!=user.id">{{user.perfil}}</td>

        <td *ngIf="selectedUserId==user.id">
          
          <input
            class="form-control"
            [(ngModel)]="selectedUser.name"
            placeholder="Nome"
            required
            minlength="4"
            #name="ngModel"
            id="name"
            name="name"
          >
          <div *ngIf="selectedUser.name.invalid && (selectedUser.name.dirty || selectedUser.name.touched)" class="alert alert-danger">
            <div *ngIf="selectedUser.name.errors.required">
              Nome deve ser informado
            </div>
            <div *ngIf="selectedUser.name.errors.minlength">
              Nome deve ter no mínimo 4 caracteres.
            </div>
          </div>
        
        </td>




        <td *ngIf="selectedUserId==user.id">
          <input
            class="form-control"
            [(ngModel)]="selectedUser.cpf | cpfPipe"
            placeholder="CPF"
            required minlength="4"
            (ngModelChange)=""

          >
        </td>
        <td *ngIf="selectedUserId==user.id">
          <input
            class="form-control"
            [(ngModel)]="selectedUser.birth_date"
            placeholder="Data de Nascimento"
            required minlength="4"
          >
        </td>
        <td *ngIf="selectedUserId==user.id">
          <input
            class="form-control"
            [(ngModel)]="selectedUser.perfil"
            placeholder="Perfil"
            required minlength="4"
          >
        </td>


        <td *ngIf="selectedUserId!=user.id">
          <button type="button" class="btn btn-default" aria-label="Left Align" (click)="setUser(user)">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default" aria-label="Left Align" (click)="removeUser()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </td>



        <td *ngIf="selectedUserId==user.id">
          <button type="button" class="btn btn-default" aria-label="Left Align" (click)="saveUser(user)">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default" aria-label="Left Align" (click)="unsetUser(user)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </td>


      </tr>
    </tbody>
  </table>
</div>
