<div class="container">

  <div class="row" style="margin:20px">
    <div class="col-md-8">
      <h4>Usuários</h4>
    </div>
    <div class="col-md-4">
      <input
      id = "search_box"
      class="form-control"
      placeholder="Pesquisar..."
      [(ngModel)]="search"
      (ngModelChange)="onChangeSearch($event)"
      >
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div *ngIf="userService.loadingUsers">
        <h2>LOADING...</h2>
      </div>
      <div *ngIf="!userService.loadingUsers">
        <div *ngIf="users.length">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th width="20%">Nome</th>
                <th width="20%">CPF</th>
                <th width="20%">Data de nascimento</th>
                <th width="20%">perfil</th>
                <th width="20%">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td *ngIf="selectedUserId!=user.id">{{user.name}}</td>
                <td *ngIf="selectedUserId!=user.id">{{user.cpf | cpfPipe}}</td>
                <td *ngIf="selectedUserId!=user.id">{{user.birth_date}}</td>
                <td *ngIf="selectedUserId!=user.id">{{user.perfil}}</td>
                

                <td *ngIf="selectedUserId!=user.id">
                  <button type="button" class="btn btn-primary" (click)="setUser(user)">
                    Editar
                  </button>
                  <button type="button" class="btn btn-dange" (click)="removeUser()">
                    Remover
                  </button>
                </td>

                <td *ngIf="selectedUserId==user.id" colspan="5">
                  <app-user-form [model]="selectedUser" [id]="selectedUserId"></app-user-form>
                <td>

              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="!users.length">
          <div class="alert alert-warning">
            Nenhum usuário encontrado
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-user-form></app-user-form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-messages></app-messages>
    </div>
  </div>

</div>
