<div class="container">
  <div class="row" style="margin:20px">
    <div class="col-md-6">
      <h4>Novo usuário</h4>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-1">
      <button class="btn btn-link" (click)="goBack()">Voltar</button>
    </div>
  </div>
</div>

<form #userForm="ngForm" (ngSubmit)="storeUser(userForm)">

  <div class="form-group">
    <label for="name">Nome</label>
    <input type="text" minlength="4" maxlength="255" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="Nome">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Informe um nome
        </div>
        <div *ngIf="name.errors.minlength">
          Nome deve conter no mínimo 4 caravteres
        </div>
        <div *ngIf="name.errors.maxlength">
          nome deve ter no máximo 255 caracteres
        </div>
      </div>
  </div>

  <div class="form-group">
    <label for="name">CPF</label>
    <input mask="000.000.000-00" [dropSpecialCharacters]="false" minlength="14" maxlength="14" type="text" class="form-control" id="cpf" required [(ngModel)]="model.cpf" name="cpf" cpf="ngModel" placeholder="CPF" #cpf="ngModel">
      <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)" class="alert alert-danger">
        <div *ngIf="cpf.errors.required">
          Informe um CPF
        </div>
        <div *ngIf="cpf.errors.minlength">
          CPF deve conter 14 caracteres
        </div>
        <div *ngIf="cpf.errors.maxlength">
          CPF deve ter no 14 caracteres A
        </div>
      </div>
  </div>

  <div class="form-group">
    <label for="name">Data De Nascimento</label>
    <input mask="00/00/0000" minlength="10" maxlength="10" [dropSpecialCharacters]="false" type="text" class="form-control" id="birth_date" required [(ngModel)]="model.birth_date" name="birth_date" #birth_date="ngModel" placeholder="Data de Nascimento" #date="ngModel">
    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
        <div *ngIf="date.errors.required">
          Informe uma data de nascimento
        </div>
        <div *ngIf="date.errors.minlength">
          Data de nascimento deve conter 10 caracteres
        </div>
        <div *ngIf="date.errors.maxlength">
          Data de nascimento deve conter 10 caracteres
        </div>
      </div>
  </div>

  <div class="form-group">
    <label for="name">Perfil</label>
    <select [(ngModel)]="selectedPerfil" required name="perfil" #perfil="ngModel" class="form-control">
      <option *ngFor="let perfil of perfils" [value]="perfil">{{perfil.name}}</option>
    </select>
    <div *ngIf="perfil.invalid && (perfil.dirty || perfil.touched)" class="alert alert-danger">
      Informe o Perfil
    </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Salvar</button>
  <button type="button" (click)="cancel()" class="btn light">Cancelar</button>
</form>
