<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <ul class="nav nav-tabs">
    <li role="presentation" routerLinkActive="active"><a routerLink="/users">Usuários</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/supliers">Fornecedores</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/categories">Categorias</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/proposals">Propostas</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
