<div class="container" style="margin-left:auto; margin-right:auto; margin-top:20px">
  <div class="progress" >
    <div [hidden]="!loadingService.loading" class="progress-bar-animated progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row" *ngIf="authService.token">
        <div class="col-md-11 text-center">
          <div>
            <h3>SafWeb Test. Bem vindo: {{authService.name}}, {{authService.perfil | perfilPipe}}</h3>
          </div>
        </div>
        <div class="col-md-1 text-right">
          <button class="btn btn-light" type="button" name="button" (click)="logout()">Sair</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="authService.token">
            <ul class="nav nav-tabs">
              <li class="nav-item" role="presentation"><a [class]="[isUsersRouteActive()]" routerLink="/users">Usuários</a></li>
              <li class="nav-item" role="presentation"><a [class]="[isSupliersRouteActive()]" class="nav-link" routerLink="/supliers">Fornecedores</a></li>
              <li class="nav-item" role="presentation"><a [class]="[isCategoriesRouteActive()]" class="nav-link" routerLink="/categories">Categorias</a></li>
            </ul>
            <div class="row" style="padding: 0px; margin:0px;">
              <div class="col-md-12 text-center" style="border-left: 1px solid #DCDCDC; border-right: 1px solid #DCDCDC; border-bottom: 1px solid #DCDCDC;">
                <app-messages></app-messages>
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!authService.token" style="margin-left:auto; margin-right:auto">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>
