<div class="container">
  <div class="row" style="margin:20px">
    <div class="col-md-6">
      <div *ngIf="user">
        <h4>Detalhes usuário {{user.name}}</h4>
      </div>
      <div *ngIf="!user">
        <h4>Detalhes usuário</h4>
      </div>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-1">
      <button class="btn btn-link" (click)="goBack()">Voltar</button>
  </div>
  </div>
</div>

<div *ngIf="user">

  <table class="table">
      <tr>
        <td>Nome</td>
        <td>CPF</td>
        <td>Data de Nascimento</td>
        <td>Perfil</td>
      </tr>
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.cpf | cpfPipe}}</td>
        <td>{{user.birth_date | myDatePipe}}</td>
        <td>{{user.perfil | perfilPipe}}</td>
      </tr>
  </table>

</div>
