<div class="container">
  <div class="row" style="margin:20px">
    <div class="col-md-6">
      <h4>Detalhes usuário X</h4>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-1">
      <button class="btn btn-light" (click)="goBack()">Voltar</button>
    </div>
  </div>
</div>

<div *ngIf="user">
  <h2>Detelhes: {{ user.name | uppercase }}</h2>

  <div>
    <label>name:</label>
    {{user.name}}
    <label>CPF:</label>
    {{user.cpf | cpfPipe}}
    <label>Data de Nascimento:</label>
    {{user.birth_date}}
    <label>Perfil:</label>
    {{user.perfil}}
  </div>

</div>
